NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://fkguhhcmptkmirzivjdo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_nXc_9IFljCRvNCptIV819w_VTpsRgfJ
SUPABASE_SERVICE_ROLE_KEY=
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.1
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
COUPANG_ACCESS_KEY=
COUPANG_SECRET_KEY=
COUPANG_PARTNER_ID=
